<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="frame container">
		<h2 class="d-flex font-weight-bold mt-3">회원가입</h2>
		<div class="shadow-box">
			<div class="d-flex justify-content-center align-items-center m-5">
				<!-- form -->
				<form method="post" action="/user/sign-up">
					<span class="font-weight-bold">아이디</span>
					<div class="d-flex">
						<input type="text" id="userId" name="userId" class="form-control mt-2" placeholder="아이디를 입력하세요.">
						<button type="button" id="checkDuplicateBtn" class="form-control btn btn-success mt-2 col-4">중복확인</button>
					</div>
					<!-- 중복확인 문구 -->
					<div id="duplicateMessage" class="text-danger d-none">이미 사용중인 아이디입니다.</div>
					<div id="notDuplicateMessage" class="text-success d-none">사용가능한 아이디입니다.</div>
					
					<span class="font-weight-bold">비밀번호</span>
					<input type="password" id="password" name="password" class="form-control mt-2" placeholder="비밀번호를 입력하세요.">
				
					<span class="font-weight-bold">비밀번호 확인</span>
					<input type="password" id="passwordCheck" name="passwordCheck" class="form-control mt-2" placeholder="비밀번호를 입력하세요.">
				
					<span class="font-weight-bold">이름</span>
					<input type="text" id="name" name="name" class="form-control mt-2" placeholder="이름을 입력해주세요.">
					
					<span class="font-weight-bold">이메일 주소</span>
					<input type="text" id="email" name="email" class="form-control mt-2" placeholder="이메일 주소를 입력해주세요.">
					
					<div class="d-flex justify-content-end ">
						<input type="submit" value="회원가입" id="signUpBtn" class="btn btn-info mt-5">
					</div>
				</form>
				<!-- 이 위로는 건들지 말 것 -->
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
	<script>
		$(document).ready(function() { // ready 함수 시작
			// checkDuplicateBtn(중복검사) 클릭 이벤트 
			$("#checkDuplicateBtn").on('click', function() { 
				// alert("중간 점검");
				// validation
				let userId = $("#userId").val().trim();
				// 유효성 검사
				if (!userId) {
					alert("아이디를 입력하세요.");					
				}
				$.ajax({
					// response
					type: "get"
					,url: "/user/is-duplicated"
					,data: {"userId":userId}
					// request
					, success:function(data) {
						if (data.code == 200) { // 중복이면
							// duplicateMessage 노출 시키기
							$("#duplicateMessage").removeClass("d-none");
						} else if (data.code == 500) { // 중복이 아니면
							// notDuplicateMessage 노출 시키기
							$("#notDuplicateMessage").removeClass("d-none");
						}
					}
					, error:function(error) {
						alert("서버상의 에러입니다.");
					}
				}); // ajax 끝.
			}); // checkDuplicateBtn(중복확인) 클릭 이벤트 끝.
			
			// signUpBtn 회원가입 버튼 클릭 이벤트
			$("form").on('submit', function(e) {
				// alert("중간점검");
				// validation
				let userId = $("#userId").val().trim();
				let password = $("#password").val().trim();
				let passwordCheck = $("#passwordCheck").val().trim();
				let name = $("#name").val().trim();
				let email = $("#email").val().trim();
				console.log(userId);
				console.log(password);
				console.log(name);
				console.log(email);
				// 유효성 검사
				if (!userId) {
					alert("아이디를 입력해주세요.");
					return false;
				}
				if (!password || !passwordCheck) {
					alert("비밀번호를 입력해주세요.");
					return false;
				}
				if (password != passwordCheck) {
					alert("비밀번호가 일치하지 않습니다.");
					return false;
				}
				if (!name) {
					alert("이름을 입력해주세요.");
					return false;
				}
				if (!email) {
					alert("이메일을 입력해주세요.");
					return false;
				}
				
				// 사용가능 여부 alert
				if ( $("#notDuplicateMessage").hasClass("d-none") ) {
					alert("아이디 중복확인을 해주세여.");
					return false;
				}
				
 				// 2) ajax로 호출 > response가 JSON
				let url = $(this).attr("action");
				console.log(url);
				let params = $(this).serialize(); // form 탸그의 name 속성과 value를 파라미터로 구성.
				console.log(params);
				
				// request
				$.post(url, params) 
				.done(function(data) {
						if (data.code == 200) { // 회원가입 성공
							alert("회원가입이 완료되었습니다. 로그인 페이지로 이동합니다.");
							location.href = "/user/sign-in-view";
						} else if (data.code == 500) {
							alert("회원가입 실패.");
						}
				}); // ajax 끝.					
			}); // signUpBtn 회원가입 버튼 클릭 이벤트 끝
		}); // ready 함수 끝.
	</script>
</th:block>